<h1><%= @meetup.name %></h1>
<h4>Where? <%= @meetup.location %></h4>
<p>What?</p>
<p><%= @meetup.description %></p>

<% if @meetup.users.include?(current_user) %>
  <form id="leave" action="/meetups/<%= params[:id] %>/leave" method="post">
    <input type="submit" name="leave" value="Leave this Meetup">
  </form>
<% else %>
  <form id="join" action="/meetups/<%= params[:id] %>/join" method="post">
    <input type="submit" name="join" value="Join This Meetup">
  </form>
<% end %>

<h2>Attendees</h2>

<% if @meetup.users.empty? %>
  <p>No one has signed up yet. Be the first!</p>
<% else %>
  <% @meetup.users.each do |user| %>
    <img src = "<%= user.avatar_url %>" class= "avatar"> <%= user.username %>
  <% end %>
<% end %>

<h2>Comments</h2>

<% if @comments.empty? %>
  <p>
    No comments here. Add one below!
  </p>
<% else %>
  <% @comments.each do |com| %>
    <h4><%= com.title %></h4>
    <p><%= com.body %><p>
  <% end %>
<% end %>

<form id="comment" action="/meetups/<%= params[:id] %>/comment" method="post">
  Title: <input type="text" name="title">
  Comment: <input type="textarea" name="body">
  <input type="submit" name="submit" value="Add a comment">
</form>
